.modifiedCampaigns__routeModal {
  border: solid 1px var(--warningColor--dark);
  background-color: var(--warningColor--light);
  padding: var(--gutter);
  margin-top: calc(2*var(--gutter));
  margin-bottom: calc(2*var(--gutter));
}